{% extends 'driveapp/base.html' %}
{% block body %}
<div class="container py-4">
  <h3 class="mb-3">Update Folder</h3>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Folder Name</label>
      <input type="text" class="form-control" name="foldername" value="{{ folder.foldername }}">
    </div>
    <div class="mb-3">
      <label class="form-label">Folder Description</label>
      <input type="text" class="form-control" name="folderdesc" value="{{ folder.folderdesc }}">
    </div>
    <button type="submit" class="btn btn-success">Update</button>
    <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock body %}
